<app-ng-if></app-ng-if>
<div class="line"></div>
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-operator-elvis></app-operator-elvis>
<app-ng-content >
  <div class="title"> Título </div>
  <div class="body"> Conteúdo passado através do ng-content select </div>
</app-ng-content>
<app-ng-content>
  <div class="title"> Título 2 </div>
  <div class="body"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, magni iusto atque quas velit culpa aspernatur tempore earum sit optio repellat, ducimus molestias quae neque accusamus nesciunt ipsum voluptatem unde! </div>
</app-ng-content>
<app-custom-directives></app-custom-directives>
