<article>
  <div class="container">
    <form [formGroup]="form">
      <h3 class="mt-3" id="title">Login</h3>
      <div class="col">
        <div class="email" class="form-group">
          <h6 style="text-align: left;">Email</h6>
          <input type="email"
          formControlName="email"
          class="form-control"
          placeholder="abcdef@gmail.com" />
        </div>
        <div class="pwd">
          <h6 class="mt-2"style="text-align: left;" >Password</h6>
          <input type="password"
          formControlName="password"
          class="form-control"
          placeholder="**********" />
        </div>
        <p class="text-muted">esqueceu a senha?<br><a href="#">clique aqui</a></p>
        <button (click)="onSubmit()" class="btn btn-outline-secondary mt-3 d-flex">Enviar</button>
      </div>
    </form>
  </div>
</article>
