<h1>Property bind</h1>
<select #option (change)="(0)">
  <option value="alert-success">Success</option>
  <option value="alert-danger">Danger</option>
  <option value="alert-warning">Warning</option>
  <option value="alert-dark">Error</option>
</select>
<br /><br />
<div
  class="alert"
  role="alert"
  [class.alert-success]="option.value == 'alert-success'"
>
  A simple success alert—check it out!
</div>
<div
  class="alert"
  role="alert"
  [class.alert-danger]="option.value == 'alert-danger'"
>
  A simple danger alert—check it out!
</div>
<div
  class="alert"
  role="alert"
  [class.alert-warning]="option.value == 'alert-warning'"
>
  A simple warning alert—check it out!
</div>
<div
  class="alert"
  role="alert"
  [class.alert-dark]="option.value == 'alert-dark'"
>
  A simple dark alert—check it out!
</div>
<br />
<div class="wrapper-event">
  <h1>Event bind</h1>
  <div class="btn-alert">
    <button type="button" class="btn btn-dark" (click)="mouseClick($event)">
      Clique-me
    </button>
  </div>
</div>
<!-- <aside>
      <input type="text" (change)="valor($event)" #valueT
      (keyup)="valueInput($event)"
      (keyup.enter)="valor($event.target.value)">
      <p>valor atual do input: {{valorSalvo}}</p>
      <p>valor salvo: {{valorSalvo}}</p>
    </aside> -->
<article>
  <app-two-way></app-two-way>
  <app-data-binding></app-data-binding>
  
</article>
