

main {
  max-width: 1100px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.801);
}

article {
  background-color: white;
  margin-top: 2em;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 1px 1px 7px;
  text-align: justify;
  line-height: 1.6em;

}

p {
  text-indent: 1em;
  padding: 10px;
}

h1 {
  font-weight: lighter;
  text-align: center;
  padding: 8px;
}
