<article>
  <header>
    <h1>Objetivo do repositório</h1>
  </header>
  <p>
    Este repositório foi criado com o propósito de alocar todo o conteúdo que estudei/venho estudando sobre angular. Como uma forma de burlar o espaço de armazenamento, pensei comigo mesmo: "Por que não criar um só local onde posso ir atualizando e melhorando conforme o tempo passa". E cá estamos.
  </p>
    <aside>
      <div class="row">
        <app-card
         [text]="text"
         [title]="title"
         [clink]="clink">
        </app-card>
      </div>
    </aside>
</article>
