<!-- <div class="container">
  <h1>Pipes</h1>
  <h2>Books</h2>
  <h5>Title: {{ book.cleanCode.title | uppercase | camelCase}}</h5>
  <p>Pages: {{ book.cleanCode.pag }}</p>
  <p>Description: {{ book.cleanCode.desc | camelCase }}</p>
  <p>Data: {{ book.cleanCode.data | date:'dd/MM/yyyy'}}</p>
  <p>Price: {{ book.cleanCode.price | currency:'BRL' }}</p>
  <p>Language: {{ book.cleanCode.language }}</p>
  <p>Rating: {{ book.cleanCode.rating | number}}</p>
  <hr>
  <div>
    <h5>custom pipes</h5>
  </div>
</div> -->
