<nav>
  <a routerLink="/" routerLinkActive="active">
    <h3>Estudos sobre angular</h3>
  </a>
  <ul class="list">
    <li><a routerLink="/" routerLinkActive="active">home</a></li>
    <li>
      <a routerLink="/btn-strap" routerLinkActive="active"
        >visualizar btn strap</a
      >
    </li>
    <li>
      <a routerLink="/Dinamic-List" routerLinkActive="active"
        >visualizar lista</a
      >
    </li>
    <li>
      <a routerLink="/Interpolation" routerLinkActive="active">Interpolação</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
